// #about-body {
//   background: url(../dist/img/sky.jpg);
//   opacity: 0.55;
// }
#typeBox {
  position: absolute;
  top: 30vh;
  left: 35%;
  margin: 2vw;
  width: 35vw;
  height: 22vw;
  background: #777b7e;
  //   align-self: center;
  border-bottom: 8px solid $secondary-color;
  z-index: 1;
  box-shadow: 0 4px 8px 0 black;
}
.css-typing {
  position: relative;
  margin: 5px;
  font-size: 2vw;
  //   top: 40vh;
  //   left: 35vw;
  margin-left: 5px;
}
.css-typing p {
  border-right: 0.15em solid $secondary-color;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400px;
  text-shadow: 2px 2px 5px black;
  z-index: -1;
}

.css-typing p:nth-child(1) {
  width: 17em;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing p:nth-child(2) {
  width: 17em;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing p:nth-child(3) {
  width: 17em;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing p:nth-child(4) {
  width: 15em;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  //   -webkit-animation: blink 1s infinite;
  //   animation: blink 1s infinite;
}
// .css-typing p:nth-child(5) {
//   width: 17em;
//   opacity: 0;
//   -webkit-animation: type 2s steps(40, end);
//   animation: type 2s steps(40, end);
//   -webkit-animation-delay: 8s;
//   animation-delay: 4s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
// }
// .css-typing p:nth-child(6) {
//   width: 17em;
//   opacity: 0;
//   -webkit-animation: type 2s steps(40, end);
//   animation: type 2s steps(40, end);
//   -webkit-animation-delay: 10s;
//   animation-delay: 4s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
// }
// .css-typing p:nth-child(7) {
//   width: 17em;
//   opacity: 0;
//   -webkit-animation: type 2s steps(40, end);
//   animation: type 2s steps(40, end);
//   -webkit-animation-delay: 12s;
//   animation-delay: 4s;
//   -webkit-animation-fill-mode: forwards;
//   animation-fill-mode: forwards;
// }

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid $secondary-color;
  }
  100% {
    border: none;
    opacity: 1;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid $secondary-color;
  }
  100% {
    border: none;
    opacity: 1;
  }
}

// ::after {
//   visibility: hidden;
// }

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}
