img {
  width: 150px;
  height: 150px;
  margin-top: 40px;
  margin-left: 40px;
  z-index: -1;
}

#mainDiv {
  position: absolute;
  width: 225px;
  height: 225px;
  margin-left: 60vw;
  margin-top: -25vh;
  perspective: 800px;
}

#boxDiv {
  width: 225px;
  transform-style: preserve-3d;
  animation: cube 15s linear infinite;
}
#boxDiv div {
  position: absolute;
  width: 225px;
  height: 225px;
  border: 2px solid grey;
  opacity: 0.8;
}
#front {
  transform: translateZ(112.5px);
  background: $secondary-color;
}
#back {
  transform: rotateY(180deg) translateZ(112.5px);
  background: $secondary-color;
}
#left {
  transform: rotateY(-90deg) translateX(-112.5px);
  transform-origin: left;
  background: $secondary-color;
}
#right {
  transform: rotateY(90deg) translateX(112.5px);
  transform-origin: right;
  background: $secondary-color;
}
#top {
  transform: rotateX(-90deg) translateY(-112.5px);
  transform-origin: top;
  background: $secondary-color;
}
#bottom {
  transform: rotateX(90deg) translateY(112.5px);
  transform-origin: bottom;
  background: $secondary-color;
}

@keyframes cube {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
