img {
  width: 150px;
  height: 150px;
  margin-top: 40px;
  margin-left: 40px;
  z-index: -1;
}

#cubeDiv {
  position: absolute;
  width: $cube-dimension;
  height: $cube-dimension;
  margin-left: 60vw;
  margin-top: -25vh;
  perspective: 800px;
}
.ui-effects-explode {
  margin: 0;
}

#boxDiv {
  width: $cube-dimension;
  transform-style: preserve-3d;
  animation: cube 15s linear infinite;
}
#boxDiv div {
  position: absolute;
  width: $cube-dimension;
  height: $cube-dimension;
  border: 2px solid grey;
  opacity: 0.8;
}
#front {
  transform: translateZ($cube-translate);
  background: $secondary-color;
}
#back {
  transform: rotateY(180deg) translateZ($cube-translate);
  background: $secondary-color;
}
#left {
  transform: rotateY(-90deg) translateX(-$cube-translate);
  transform-origin: left;
  background: $secondary-color;
}
#right {
  transform: rotateY(90deg) translateX($cube-translate);
  transform-origin: right;
  background: $secondary-color;
}
#top {
  transform: rotateX(-90deg) translateY(-$cube-translate);
  transform-origin: top;
  background: $secondary-color;
}
#bottom {
  transform: rotateX(90deg) translateY($cube-translate);
  transform-origin: bottom;
  background: $secondary-color;
}

@keyframes cube {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
