//Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

//Desktops & Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
    img {
      right: 4vw;
    }
  }
  main {
    width: 65%;
    z-index: 1;

    .lg-heading {
      font-size: 5rem;
    }
    .sm-heading {
      font-size: 1.5rem;
    }
  }

  #mainDiv {
    margin-top: -30vh;
  }
}

//Tablets and Small laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
  #typeBox {
    top: 20vh;
    height: 60vh;
    width: 72%;
    left: 10%;
    margin-right: 10vw;
  }
  .css-typing {
    top: 10%;
    text-align: justify;
    font-size: 4.5vw;
  }
  #mainDiv {
    opacity: 0;
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    widows: 100px;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/alen_brande_small.jpg");
      width: 145px;
      height: 155px;
    }
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
    img {
      right: 5.5vw;
    }
  }
}

//Smartphones
@include mediaSm {
  #mainDiv {
    opacity: 0;
  }
  main #home h1 {
    margin-top: 10vh;
  }

  #typeBox {
    top: 20vh;
    height: 60vh;
    width: 72%;
    left: 10%;
    margin-right: 10vw;
  }
  .css-typing {
    top: 20%;
    text-align: justify;
    font-size: 4.5vw;
  }

  .projects {
    grid-template-columns: 1fr;

    img {
      right: 10vw;
    }
  }
  .menu-nav,
  .menu-branding {
    width: 60%;
  }
  .lg-heading {
    top: 10vh;
    font-size: 5rem;
  }
  .sm-heading {
    position: relative;
    right: 15%;
    font-size: 1.4rem;
  }

  .boxes {
    div {
      font-size: 1.5rem;
      padding: 1.4rem 1.2rem;
    }
  }
}
