//Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
  #cubeDiv {
    position: absolute;
    margin-top: -4%;
    margin-right: 21vw;
  }

  // #typeBox {
  //   top: 15vh;
  //   height: 60%;
  //   width: 75%;
  //   left: 10%;
  //   margin-right: 10vw;
  // }
  // .css-typing {
  //   top: 5vh;
  //   text-align: justify;
  //   font-size: 10px;
  // }
}

//Desktops & Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem 1rem;
    img {
      right: 4vw;
    }
  }
  main {
    width: 65%;
    z-index: 1;

    .lg-heading {
      font-size: 5rem;
    }
    .sm-heading {
      font-size: 1.4rem;
      width: 45vw;
      margin-right: 10px;
    }
  }

  #cubeDiv {
    margin-top: -20%;
    margin-right: 8vw;
  }
}

#typeBox {
  top: 14vh;
  height: 40%;
  width: 75%;
  left: 10%;
  margin-right: 10vw;
}
.css-typing {
  margin-top: 3vh;
  text-align: justify;
  font-size: 4vw;
  line-height: 5vw;
}

//Tablets and Small laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
  #typeBox {
    top: 15vh;
    height: 60%;
    width: 75%;
    left: 10%;
    margin-right: 10vw;
  }
  .css-typing {
    top: 5vh;
    text-align: justify;
    font-size: 4.5vw;
  }
  #cubeDiv {
    opacity: 0;
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    widows: 100px;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/alen_brande_small.jpg");
      width: 145px;
      height: 155px;
    }
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
    img {
      right: 5.5vw;
    }
  }
}

//Smartphones
@include mediaSm {
  #cubeDiv {
    opacity: 0;
  }
  main #home h1 {
    margin-top: 10vh;
  }

  #typeBox {
    top: 20vh;
    height: 45vh;
    width: 74%;
    left: 10%;
    margin-right: 10vw;
  }
  .css-typing {
    margin-top: 2vh;
    text-align: justify;
    font-size: 4.5vw;
    line-height: 5vh;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
    grid-gap: 0.5rem 0.5rem;
    img {
      right: 9.9vw;
    }
  }
  .menu-nav,
  .menu-branding {
    width: 60%;
  }
  .lg-heading {
    position: absolute;
    top: 3vh;
    font-size: 5rem;
    right: 6vw;
    left: 6vw;
  }
  .sm-heading {
    position: absolute;
    top: 57vh;
    right: 6vw;
    left: 6vw;
    font-size: 1.4rem;
  }

  .boxes {
    div {
      font-size: 1.5rem;
      padding: 1.4rem 1.2rem;
    }
  }

  .icons {
    position: absolute;
    top: 74.5vh;
    right: 6vw;
    left: 6vw;
  }
}

//Ipads
@include mediaIpad {
  #cubeDiv {
    top: 61vh;
    right: 10%;
  }

  #typeBox {
    top: 20vh;
    height: 50vh;
    width: 74%;
    left: 10%;
    margin-right: 10vw;
  }
  .css-typing {
    margin-top: 7vh;
    text-align: justify;
    font-size: 4.5vw;
    line-height: 5vh;
  }

  main {
    width: 65%;
    z-index: 1;

    .lg-heading {
      font-size: 5rem;
    }
    .sm-heading {
      font-size: 1.4rem;
      width: 45vw;
      margin-right: 10px;
    }
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
    grid-gap: 0.5rem 0.5rem;
    img {
      right: 5vw;
    }
  }
}
